.xcomContainer {
    max-width: 1200px;
    margin: auto;
}

.xcomIntroContainer {
    display: flex;
}

.xcomSeasonHeader {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 30px;
    padding-top: 50px;
    text-align: center;
}
