.xcomContainer {
    max-width: 1200px;
    margin: auto;
}

.xcomIntroContainer {
    display: flex;
}

.xcomHeader {
    padding-bottom: 30px;
    object-fit: none;
    height: 800px;
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;
}

.xcomSeasonHeader {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 25px;
    padding-top: 50px;
}
