.aboutContainer {
    max-width: 800px;
    margin: auto;
}

.aboutWhereToListenContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutWhereToListenHeader {
    font-family: "Helvetica Neue", sans-serif;
}

.aboutPodCastLinks {
    color: grey;
    font-weight: 500;
    list-style: none;
}

.aboutPodCastLinks:hover {
    color: #faaf40;
}
