.patreonContainer {
    display: flex;
    max-width: 1140px;
    margin: auto;
    margin-top: 120px;
    margin-bottom: 100px;
    padding: 25px;
}

.patreonImg {
    height: 390px;
    width: 400px;
}

.patreonTextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 100px;
}

.patreonHeading {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 68px;
    font-weight: 700;
}

.patreonText {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

.patreonButton {
    align-items: center;
    background-color: #faaf40;
    border: none;
    border-radius: 30px;
    color: white;
    display: flex;
    font-size: small;
    font-weight: bolder;
    height: 60px;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
    width: 180px;
}

.patreonButton:hover {
    box-shadow: 0 0px 10px 0 #fab040;
}
