.heroContainer {
    display: flex;
    max-width: 1140px;
    margin: auto;
}

.heroText {
    display: flex;
    font-family: "Helvetica Neue", sans-serif;
    flex-direction: column;
}

.heroSubText {
    font-size: 17px;
    padding-bottom: 20px;
    line-height: 140%;
    width: 530px;
}

.heroMainText {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 42px;
    margin-bottom: 20px;
}

.heroImage {
    border-radius: 20px;
    box-shadow: 10px 10px 20px 0 rgba(55, 51, 44, 0.5);
    height: 470px;
    object-fit: cover;
    margin: 55px 0 0 50px;
}
