.heroContainer {
    display: flex;
    max-width: 1140px;
    margin: auto;
}

.heroText {
    display: flex;
    font-family: "Anek Latin", sans-serif;
    flex-direction: column;
}

.heroMainText {
    font-family: "Anek Latin", sans-serif;
    font-size: 40px;
}

.heroImage {
    height: 700px;
}
