.hugeAssContainer {
    max-width: 1140px;
    margin: auto;
}

.hugeAssIntroContainer {
    display: flex;
}

.projectDescription {
    color: rgb(88, 87, 87);
}

.hugeAssfigCapt {
    font-weight: bold;
    text-align: center;
}
