.hugeAssContainer {
    max-width: 1140px;
    margin: auto;
}

.hugeAssIntroContainer {
    display: flex;
    margin-bottom: 40px;
}

.hugeAssfigCapt {
    font-weight: bold;
    text-align: center;
}

@media only screen and (max-width: 1100px) {
    .hugeAssIntroContainer {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media only screen and (max-width: 700px) {
    .hugeAssWriteUp {
        max-width: 400px;
    }
}

@media only screen and (max-width: 414px) {
    .hugeAssIntroContainer {
        width: 375px;
    }

    .BBCEpsContainer {
        padding: 0 2rem;
    }
}

@media only screen and (max-width: 360px) {
    .otherProjectsIntroContainer {
        width: 360px;
    }
}
