<div class="beforefooter">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h3>Join the HUGE Community!</h3>
                <p>Jump in and join the fun</p>
                <a class="btn btn-primary btn-lg" href="{{ site.discord }}"><i class="fab fa-discord"></i> - HUGE Discord - <i class="fab fa-discord"></i></a>
            </div>
            <div class="col-md-4 text-right footersocial">
                <h5>Connect with Us</h5>
                <a href="{{ site.facebook }}"><i class="fab fa-facebook"></i></a>
                <a href="{{ site.twitter }}"><i class="fab fa-twitter"></i></a>
                <a href="{{ site.instagram }}"><i class="fab fa-instagram"></i></a>
                <a href="{{ site.untappd }}"><i class="fab fa-untappd"></i></a>
                <a href="{{ site.hipcast }}"><i class="fa fa-podcast"></i></a>
            </div>
        </div>
    </div>
</div>