<footer class="site-footer">

  <div class="site-copy">&copy; {{ site.time | date: '%Y' }}<span class="site-author">{{ site.author }}</span></div>

  <div class="site-links">
    <div class="site-contact">
      <ul>
        {% if site.email %}
        <li><a href="mailto:{{ site.email }}">Contact</a></li>
        {% endif %}

        {% if site.twitter_username %}
        <li><a target="_blank" rel="noreferrer" href="https://twitter.com/{{ site.twitter_username }}">Twitter</a></li>
        {% endif %}
      </ul>
    </div>
  </div>

</footer>
<!-- site-footer -->
