<footer class="footer">

    <div class="container">

        <div class="row">

            <div class="col-sm-3">
                <div class="footer-widget">
                    <h5 class="title">Podcast Feeds</h5>
                    <ul>
                        <li><a target="_blank" href="{{ site.hipcast }}">Hipcast</a></li>
                        <li><a target="_blank" href="{{ site.spotify }}">Spotify</a></li>
                        <li><a target="_blank" href="{{ site.googlepod }}">Google Podcasts</a></li>
                        <li><a target="_blank" href="{{ site.applepod }}">Apple Podcasts</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="footer-widget">
                    <h5 class="title">Social Media</h5>
                    <ul>
                        <li><a target="_blank" href="{{ site.facebook }}">Facebook</a></li>
                        <li><a target="_blank" href="{{ site.instagram }}">Instagram</a></li>
                        <li><a target="_blank" href="{{ site.twitter }}">Twitter</a></li>
                        <li><a target="_blank" href="{{ site.untappd }}">Untappd</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="footer-widget">
                    <h5 class="title">More Stuff</h5>
                    <ul>
                        <li><a href="{{ site.youtube }}">Youtube</a></li>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/contact">Contact Us</a></li>
                        <li><a href="/feedback">Feedback</a></li>
                    </ul>
                </div>
            </div>

     
        </div>

        <div class="copyright">
            <p class="pull-left">
                Copyright © {{ site.time | date: "%Y" }} {{ site.name }}.
            </p>
            <p class="pull-right">
            <!-- Please, leave credit to author unless you own a commercial license: https://www.wowthemes.net/freebies-license/ --> 
            </p>
            <div class="clearfix"></div>
        </div>

    </div>

</footer>