<div class="sidebar">
        
        <!-- <div class="sidebar-section">
            <h5><span>Newsletter</span></h5>
           
        </div> -->
            
        <div class="sidebar-section">
            <h5><span>Listen to HUGE</span></h5>
            <ul>
                <li><a target="_blank" href="{{ site.hipcast }}">Hipcast</a></li>
                <li><a target="_blank" href="{{ site.spotify }}">Spotify</a></li>
                <li><a target="_blank" href="{{ site.applepod }}">Apple Podcasts</a></li>
                <li><a target="_blank" href="{{ site.googlepod }}">Google Podcasts</a></li>
            </ul>
        </div>
            
        <div class="sidebar-section">
             <h5><span>Listen to XCOMMITTEE</span></h5>
             <ul>
                <li><a target="_blank" href="{{ site.xcom-hipcast }}">Hipcast</a></li>
                <li><a target="_blank" href="{{ site.xcom-spotify }}">Spotify</a></li>
                <li><a target="_blank" href="{{ site.xcom-applepod }}">Apple Podcasts</a></li>
            </ul>
        </div>
            
</div>