.otherProjectsContainer {
    max-width: 1200px;
    margin: auto;
}

.otherProjectsHeader {
    color: black;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 30px;
    text-align: center;
}

.otherProjectsIntroContainer {
    display: flex;
    padding-bottom: 20px;
}

.otherProjectsDescription {
    padding: 0 50px 15px 50px;
    font-size: 18px;
    font-weight: 400;
    margin: 0 32px;
}

.otherProjectsSection {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 30px;
}

.otherProjectsDescriptionImage {
    object-fit: none;
    height: 300px;
}

.TheLastOfUsEpContainer button.carouselButton:nth-child(3) + div {
    gap: 5px;
    flex-wrap: wrap;
}

.BBCEpsContainer button.carouselButton:nth-child(3) + div {
    gap: 5px;
    flex-wrap: wrap;
}

@media only screen and (max-width: 1100px) {
    .otherProjectsIntroContainer {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .otherProjectsDescription {
        max-width: 600px;
    }
}

@media only screen and (max-width: 700px) {
    .projectDescription {
        max-width: 400px;
    }

    .otherProjectsDescription {
        padding: 0;
        margin: 0 42px;
    }
}

@media only screen and (max-width: 414px) {
    .otherProjectsIntroContainer {
        width: 375px;
    }
    .TheLastOfUsEpContainer {
        padding: 0 2rem;
    }
    .BBCEpsContainer {
        padding: 0 2rem;
    }
}

@media only screen and (max-width: 360px) {
    .otherProjectsIntroContainer {
        width: 360px;
    }
}
