.contactContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 900px;
    margin: auto;
    padding: 0 1.875rem;
}

.contactHeader {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 1.875rem;
    text-align: center;
}

.contactText {
    font-size: 1.125rem;
    font-weight: 400;
    margin: auto;
    padding-bottom: 1.5625rem;
    text-align: center;
    width: 18.75rem;
}

.contactFormContainer {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0px 20px 0 rgba(79, 73, 63, 0.5);
    height: 38.625rem;
    padding: 1.875rem;
}

.contactForm {
    display: flex;
    flex-direction: column;
}

.contactFormLabel {
    font-weight: 800;
    padding: 15px 15px 15px 46px;
}

.contactFormInput {
    align-self: center;
    font-size: 1.25rem;
    height: 1.875rem;
    width: 50rem;
}

.contactFormInputMessage {
    align-self: center;
    font-size: 1.25rem;
    height: 9.375rem;
    resize: none;
    width: 50rem;
}

.contactFormSubmit {
    background-color: #faaf40;
    border: none;
    border-radius: 18px;
    color: white;
    font-weight: bolder;
    height: 2.5rem;
    margin: 1.875rem 0 0 2.875rem;
    text-transform: uppercase;
    width: 6.25rem;
}

.contactFormSubmit:hover {
    box-shadow: 0 0px 10px 0 #fab040;
}

.contactErrors {
    color: red;
    font-weight: 600;
    padding-left: 2.8125rem;
}

@media only screen and (max-width: 1000px) {
    .contactFormInput {
        width: 30rem;
    }
    .contactFormInputMessage {
        width: 30rem;
    }
}

@media only screen and (max-width: 600px) {
    .contactFormInput {
        width: 20rem;
    }
    .contactFormInputMessage {
        width: 20rem;
    }
}
