.allEpsContainer {
    max-width: 1140px;
    margin: auto;
    padding: 0 1.875rem;
}

.allEpsHeader {
    text-align: center;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 32px;
}

.allEpsGrid {
    display: grid;
    grid-template-columns: auto auto auto;
}

.paginationContainer {
    display: flex;
    justify-content: center;
}

.pagination {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 70%;
}

.pagination > li:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    .allEpsGrid {
        grid-template-columns: 370px 370px;
    }
}

@media only screen and (max-width: 800px) {
    .allEpsGrid {
        grid-template-columns: 370px;
    }
}
