.allEpsContainer {
    max-width: 1140px;
    margin: auto;
}

.allEpsHeader {
    text-align: center;
}

.allEpsGrid {
    display: grid;
    grid-template-columns: auto auto auto;
}

.pagination {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

li:hover {
    text-decoration: underline;
    cursor: pointer;
}
