.allEpsContainer {
    max-width: 1140px;
    margin: auto;
}

.allEpsHeader {
    text-align: center;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 32px;
}

.allEpsGrid {
    display: grid;
    grid-template-columns: auto auto auto;
}

.pagination {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    margin-left: 89%;
}

.pagination > li:hover {
    text-decoration: underline;
    cursor: pointer;
}
