.beerGooglesContainer {
    max-width: 1200px;
    margin: auto;
}

.beerGooglesIntroContainer {
    display: flex;
    padding-bottom: 30px;
}

.beerGogglesEpHeader {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 30px;
    text-align: center;
}

.beerGogglesEpContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1200px;
}

.beerGogglesEpContainer > figure {
    max-width: 450px;
}

.beerGogglesFigTitle {
    font-weight: 600;
    font-size: 17px;
    text-align: center;
    margin-bottom: 8px;
}

.beerGogglesEmbed {
    margin-bottom: 5px;
}

.beerGogglesListenOnContainer {
    display: flex;
    align-items: center;
}

.youtubeIcon {
    height: 12px;
    padding: 10px 8px 0 0;
}
