.beerGooglesContainer {
    max-width: 1200px;
    margin: auto;
}

.beerGooglesIntroContainer {
    display: flex;
    padding-bottom: 30px;
}

.beerGogglesEpHeader {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 30px;
    text-align: center;
}

.beerGogglesEpContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
}

.beerGogglesEpContainer > figure {
    max-width: 450px;
}

.beerGogglesFigTitle {
    font-weight: 600;
    font-size: 17px;
    text-align: center;
    margin-bottom: 8px;
}

.beerGogglesEmbed {
    margin-bottom: 5px;
}

.beerGogglesListenOnContainer {
    display: flex;
    align-items: center;
}

.youtubeIcon {
    height: 12px;
    padding: 10px 8px 0 0;
}

@media only screen and (max-width: 1100px) {
    .beerGooglesIntroContainer {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media only screen and (max-width: 700px) {
    .beerGooglesWriteUp {
        max-width: 400px;
    }

    .beerGogglesEpContainer {
        max-width: 440px;
        margin: 0 1rem;
    }
    .beerGooglesGOWContainer {
        max-width: 440px;
        margin: 0;
    }

    .projectDescription {
        padding: 0;
    }
}
