.hugeProjectContainer {
    align-items: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0px 20px 0 rgba(79, 73, 63, 0.5);
    display: flex;
    flex-direction: column;
    height: 525px;
    margin: 10px;
    width: 550px;
}

.hugeProjectImg {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 550px;
    height: 300px;
}

.hugeProjectTitle {
    padding: 10px;
    font-family: "Helvetica Neue", sans-serif;
    font-size: x-large;
    font-weight: 600;
    line-height: 30px;
    color: #061020;
}

.hugeProjectDescriptionContainer {
}

.hugeProjectDescription {
    color: grey;
    font-size: 18px;
    font-weight: 500;
    padding: 0 20px 20px 20px;
}
