.hugeProjectContainer {
    align-items: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0px 20px 0 rgba(79, 73, 63, 0.5);
    display: flex;
    flex-direction: column;
    height: 33.375rem;
    margin: 0.3125rem;
    position: relative;
    width: 33.375rem;
}

.hugeProjectContainer:hover {
    box-shadow: 0 0 20px 0 #191918;
}

.hugeProjectContainer:hover .hugeProjectsSeeMore {
    visibility: visible;
}

.hugeProjectContainer:hover .hugeProjectTitle {
    color: #faaf40;
}

.hugeProjectImg {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 33.375rem;
    height: 18.75rem;
}

.hugeProjectTitle {
    padding: 0.625rem;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.875rem;
    color: #061020;
}

.hugeProjectDescriptionContainer {
    height: min-content;
    padding: 0 1.5625rem 1.25rem 1.5625rem;
}

.hugeProjectDescription {
    color: grey;
    font-size: 1.125rem;
    font-weight: 500;
}

.hugeProjectsSeeMore {
    align-items: center;
    background-color: #faaf40;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: small;
    font-weight: bolder;
    height: 2.5rem;
    position: absolute;
    top: 9.375rem;
    text-transform: uppercase;
    visibility: hidden;
    width: 8.75rem;
}

@media only screen and (max-width: 600px) {
    .hugeProjectContainer {
        height: 26.375rem;
        width: 26.375rem;
    }
    .hugeProjectImg {
        height: 185px;
        width: 26.375rem;
    }
    .hugeProjectTitle {
        font-size: 1.17rem;
    }
    .hugeProjectDescription {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 414px) {
    .hugeProjectContainer {
        height: fit-content;
        width: 20rem;
        margin-bottom: 1rem;
    }
    .hugeProjectImg {
        height: 138px;
        width: 20rem;
    }
    .hugeProjectTitle {
        font-size: 1rem;
        text-align: center;
    }
    .hugeProjectDescription {
        font-size: 1rem;
    }
}
