.navContainer {
    display: flex;
    justify-content: flex-end;
    height: 5rem;
    width: 100%;
    margin-bottom: 0.5rem;
}

.navMainContainer {
    display: flex;
}

.navPatreonLogo {
    height: 1.0625rem;
    padding-right: 0.5rem;
}

.patreonDonate {
    align-items: center;
    background-color: #faaf40;
    border: none;
    border-radius: 30px;
    color: white;
    display: flex;
    font-size: 0.8rem;
    font-weight: bolder;
    height: 3.125rem;
    justify-content: center;
    margin: 1.25rem 0.9375rem 0 0;
    text-align: center;
    text-transform: uppercase;
    width: 10.625rem;
}

a:link {
    color: inherit;
    text-decoration: none;
}

.patreonDonate:hover {
    box-shadow: 0 0px 10px 0 #fab040;
}

.navLinks {
    color: #fab040;
    display: flex;
    flex-direction: row;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 1.125rem;
    font-weight: bold;
    list-style: none;
    padding-top: 0.9375rem;
    text-transform: uppercase;
}

.navLink {
    color: inherit;
    padding-right: 35px;
}

.navLinkOuter:hover {
    list-style: disc;
}

.navHamburger {
    display: none;
    position: relative;
    width: 100%;
}

.navbarHamburgerButton {
    border: none;
    background: transparent;
    margin-right: 1rem;
    margin-left: auto;
}

.navbarHamburgerIcon {
    height: 20px;
    padding-top: 0.5rem;
}

.navHamburgerLinks {
    top: 5.5rem;
    flex-direction: column;
    position: absolute;
    background-color: white;
    width: max-content;
    width: 100%;
    display: none;
}

.hamBurgerLink {
    border: 1px solid #f6fafc;
    border-left: none;
    height: 40px;
    width: max-content;
    width: 100%;
    font-size: 22px;
    padding-top: 10px;
    margin-left: 1rem;
}

.hamBurgerLink:hover {
    color: #faaf40;
}

.hidden {
    display: flex;
}

@media only screen and (max-width: 1000px) {
    .navContainer {
        justify-content: baseline;
    }
    .navMainContainer {
        display: none;
    }
    .navHamburger {
        display: flex;
    }
}
