.navContainer {
    display: flex;
    height: 5rem;
    max-width: 1140px;
    margin-bottom: 0.5rem;
}

.navMainContainer {
    display: flex;
}

.navPatreonLogo {
    height: 1.0625rem;
    padding-right: 0.5rem;
}

.patreonDonate {
    align-items: center;
    background-color: #faaf40;
    border: none;
    border-radius: 30px;
    color: white;
    display: flex;
    font-size: 0.8rem;
    font-weight: bolder;
    height: 3.125rem;
    justify-content: center;
    margin: 1.25rem 0.9375rem 0 0;
    text-align: center;
    text-transform: uppercase;
    width: 10.625rem;
}

a:link {
    color: inherit;
    text-decoration: none;
}

.patreonDonate:hover {
    box-shadow: 0 0px 10px 0 #fab040;
}

.navLinks {
    color: #fab040;
    display: flex;
    flex-direction: row;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 1.125rem;
    font-weight: bold;
    list-style: none;
    padding-top: 0.9375rem;
    text-transform: uppercase;
}

.navLink {
    color: inherit;
    padding-right: 35px;
}

.navLinkOuter:hover {
    list-style: disc;
}

.navHamburger {
    display: none;
}

@media only screen and (max-width: 1000px) {
    .navMainContainer {
        display: none;
    }
    .navHamburger {
        display: block;
    }
}
