.navContainer {
    display: flex;
}

.logo {
    height: 17px;
    padding-right: 8px;
}

button {
    align-items: center;
    background-color: #faaf40;
    border: none;
    border-radius: 30px;
    color: white;
    display: flex;
    font-size: small;
    font-weight: bolder;
    height: 50px;
    justify-content: center;
    margin: 20px 100px 0 0;
    text-align: center;
    width: 170px;
}

.navLinks {
    display: flex;
    flex-direction: row;
    font-size: x-large;
    list-style: none;
    padding-right: 15px;
}

.navLink {
    padding: 0 10px;
}

.navLink:hover {
    font-weight: bold;
}
