.navContainer {
    display: flex;
}

.navPatreonLogo {
    height: 17px;
    padding-right: 8px;
}

.patreonDonate {
    align-items: center;
    background-color: #faaf40;
    border: none;
    border-radius: 30px;
    color: white;
    display: flex;
    font-size: small;
    font-weight: bolder;
    height: 50px;
    justify-content: center;
    margin: 20px 15px 0 0;
    text-align: center;
    text-transform: uppercase;
    width: 170px;
}

a:link {
    color: inherit;
    text-decoration: none;
}

.patreonDonate:hover {
    box-shadow: 0 0px 10px 0 #fab040;
}

.navLinks {
    color: #fab040;
    display: flex;
    flex-direction: row;
    font-family: "Helvetica Neue", sans-serif;
    font-size: large;
    font-weight: bold;
    list-style: none;
    padding-top: 15px;
    text-transform: uppercase;
}

.navLink {
    color: inherit;
    padding-right: 35px;
}

.navLinkOuter:hover {
    list-style: disc;
}

.searchIcon {
    height: 16px;
}
