.hostsSectionContainer {
    max-width: 1140px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 80px;
}

.hostsSectionBanner {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 30px;
}

.hostsContainer {
    display: flex;
}

@media only screen and (max-width: 900px) {
    .hostsContainer {
        flex-wrap: wrap;
    }
}
