---
layout: default
---
<article>

  {% if page.subtitle %}
  <header>
    <h1>{{ page.subtitle }}</h1>
  </header>
  {% endif %}

  <div>
    <div>

        <div>
            <h2>Ben</h2>
            <img src="/assets/img/ben.jpg">
            <p>Ben grew up on Playstation and is our resident hot sauce expert. 
                A scholar and a gentleman, Ben loves a good puzzle and is a trivia master.</p>
        </div>

        <div>
            <h2>Evan</h2>
            <img src="/assets/img/evan.jpg">
            <p>Evan is the shit disturber, he likes to stir the pot and get people going. 
                He loves Dark Souls and contrary to popular belief, he doesn't actually like Sonic that much.</p>
        </div>

         <div>
            <h2>Matthew</h2>
            <img src="/assets/img/matthew.jpg">
            <p>Matthew is our A/V expert. He makes sure every episode sounds good. 
                He is our resident board game and card game master. His comedic timing is impeccable.</p>
        </div>

         <div>
            <h2>Tim</h2>
            <img src="/assets/img/tim.jpg">
            <p>Tim is our resident Nintendo lover. He likes retro games and is probably the nicest guy in the world. 
                But get a game where you can deceive and Tim will get you.</p>
        </div>
        
    </div>
  </div>

</article>